.breadcrumb > li > a {
  color: #A9A9A9;
}

.breadcrumb > li > a:hover {
  color: #7c7c7c;
}

@media (min-width: 768px) {
  body:not(.sw-toggled) .breadcrumb {
    padding: 10px 33px 11px;
  }
}

@media (min-width: 1199px) {
  body.sw-toggled .breadcrumb {
    padding: 10px 33px 11px 280px;
  }
}

#messages-main {
  position: relative;
}

#messages-main:before,
#messages-main:after {
  content: " ";
  display: table;
}

#messages-main:after {
  clear: both;
}

#messages-main:before,
#messages-main:after {
  content: " ";
  display: table;
}

#messages-main:after {
  clear: both;
}

#messages-main .ms-block {
  padding: 23px 20px 0;
}

#messages-main .ms-menu {
  position: absolute;
  left: 0;
  top: 0;
  background: #F8F8F8;
  border-right: 1px solid #EEE;
  padding-bottom: 50px;
  height: 100%;
  width: 240px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

@media (max-width: 767px) {
  #messages-main .ms-menu {
    height: calc(100% - 58px);
    -webkit-transform: translate3d(-240px, 58px, 0);
    transform: translate3d(-240px, 58px, 0);
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
  }

  #messages-main .ms-menu.toggled {
    -webkit-transform: translate3d(0, 58px, 0);
    transform: translate3d(0, 58px, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

#messages-main .ms-menu .lv-item {
  padding-left: 20px;
  padding-right: 20px;
}

#messages-main .ms-menu .lv-item.active {
  background: #fff;
}

#messages-main .ms-menu .lv-item:not(.active):hover {
  background: #F2F2F2;
  cursor: pointer;
}

@media (min-width: 768px) {
  #messages-main .ms-body {
    padding-left: 240px;
  }
}

@media (max-width: 767px) {
  #messages-main .ms-body {
    overflow: hidden;
  }
}

#messages-main .ms-user:before,
#messages-main .ms-user:after {
  content: " ";
  display: table;
}

#messages-main .ms-user:after {
  clear: both;
}

#messages-main .ms-user:before,
#messages-main .ms-user:after {
  content: " ";
  display: table;
}

#messages-main .ms-user:after {
  clear: both;
}

#messages-main .ms-user > img {
  border-radius: 50%;
  width: 40px;
  float: left;
}

#messages-main .ms-user > div {
  overflow: hidden;
  padding: 7px 5px 7px 15px;
  font-size: 11px;
}

#ms-menu-trigger {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  margin: 1px 0 0 -7px;
}

@media (min-width: 768px) {
  #ms-menu-trigger {
    display: none;
  }
}

#ms-menu-trigger .line-wrap .line {
  background-color: #717171;
}

/*
 * For Message
 */

.lv-message .lv-item {
  padding: 20px;
}

.lv-message .lv-item.right {
  text-align: right;
}

.lv-message .lv-item.right .lv-avatar {
  margin-right: 0;
  margin-left: 15px;
}

.lv-message .lv-item:not(.right) .ms-item {
  background: #ffc107;
  color: #fff;
}

.lv-message .lv-item.right .ms-item {
  background: #eee;
}

.lv-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  line-height: 34px;
  font-size: 15px;
  margin-right: 15px;
  padding: 0 !important;
  text-transform: uppercase;
}

.lv-avatar > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: top;
}

.ms-item {
  padding: 13px 19px 15px;
  border-radius: 2px;
  display: inline-block;
}

@media (min-width: 768px) {
  .ms-item {
    max-width: 70%;
  }
}

.ms-date {
  display: block;
  color: #B3B3B3;
  margin-top: 7px;
}

.ms-date > i {
  font-size: 14px;
  vertical-align: bottom;
  line-height: 100%;
}

.ms-reply {
  box-shadow: 0 -20px 20px -5px #ffffff;
  position: relative;
  margin: 0 !important;
}

.ms-reply textarea {
  width: 100%;
  font-size: 13px;
  border: 0;
  padding: 10px 8px;
  resize: none;
  height: 60px;
}

.ms-reply button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: 100%;
  width: 60px;
  font-size: 25px;
  background: #F5F5F5;
  color: #2196f3;
}

.ms-reply button:hover {
  background: #f2f2f2;
}

.four-zero-content {
  background: #fff;
  padding: 20px;
}

.four-zero-content:before {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #EDECEC;
  content: "";
}

.four-zero {
  background: #00bcd4;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  color: #fff;
  text-align: center;
  padding: 15px;
  height: 300px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
}

.four-zero h2 {
  font-size: 130px;
}

@media (max-width: 767px) {
  .four-zero {
    width: calc(100% - 40px);
    left: 20px;
    margin-left: 0;
    height: 260px;
    margin-top: -130px;
  }

  .four-zero h2 {
    font-size: 90px;
  }
}

.four-zero h2 {
  line-height: 100%;
  color: #fff;
  font-weight: 100;
}

.four-zero small {
  display: block;
  font-size: 26px;
  margin-top: -10px;
}

.four-zero footer {
  background: rgba(0, 0, 0, 0.13);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.four-zero footer > a {
  font-size: 21px;
  display: inline-block;
  color: #FFF;
  margin: 0 1px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.four-zero footer > a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.login-content {
  overflow: hidden;
  height: 100%;
}

.lc-block {
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  width: 500px;
  display: inline-block;
  margin-top: 42px;
  vertical-align: middle;
  position: relative;
}

.lc-block:not(.lcb-alt) {
  padding: 35px 55px 35px;
}

.lc-block:not(.lcb-alt) .btn-login {
  top: 50%;
  margin-top: -25px;
  right: -25px;
}

.lc-block:not(.toggled) {
  display: none;
}

@media (max-width: 767px) {
  .lc-block {
    padding: 15px 35px 25px 20px;
    width: calc(100% - 60px);
  }
}

.lc-block .checkbox {
  margin: 5px 0 0 42px;
  text-align: left;
}

.lc-block.toggled {
  z-index: 10;
}

.login-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0%;
  bottom: -45px;
}

.login-navigation > li {
  display: inline-block;
  margin: 0 2px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  cursor: pointer;
  vertical-align: top;
  color: #fff;
  line-height: 16px;
  min-width: 16px;
  min-height: 16px;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.login-navigation > li > span {
  opacity: 0;
  filter: alpha(opacity=0);
}

.login-navigation > li:not(:hover) {
  font-size: 0px;
  border-radius: 100%;
}

.login-navigation > li:hover {
  border-radius: 10px;
  padding: 0 5px;
  font-size: 8px;
}

.login-navigation > li:hover > span {
  opacity: 1;
  filter: alpha(opacity=100);
}

.lcb-alt {
  padding: 70px 55px 60px;
}

.lcb-alt .btn-login {
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
}

.lcb-alt .login-navigation {
  bottom: -75px;
}

.lcb-user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.18);
}

.login-content {
  text-align: center;
}

.login-content:after {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 1px;
  height: 100%;
}

.login-content:before {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bcd4;
  content: "";
  z-index: 0;
}

#profile-main {
  min-height: 500px;
  position: relative;
}

#profile-main .pm-overview {
  overflow-y: auto;
}

@media (min-width: 1200px) {
  #profile-main .pm-overview {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #profile-main .pm-overview {
    width: 250px;
  }
}

@media (min-width: 768px) {
  #profile-main .pm-overview {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #f8f8f8;
    border-right: 1px solid #eee;
  }
}

@media (max-width: 767px) {
  #profile-main .pm-overview {
    width: 100%;
    background: #333;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  #profile-main .pm-body {
    padding-left: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #profile-main .pm-body {
    padding-left: 250px;
  }
}

@media (max-width: 767px) {
  #profile-main .pm-body {
    padding-left: 0;
  }
}

#profile-main .pmo-pic {
  position: relative;
  margin: 20px;
}

@media (min-width: 768px) {
  #profile-main .pmo-pic img {
    width: 100%;
    border-radius: 2px 2px 0 0;
  }
}

@media (max-width: 767px) {
  #profile-main .pmo-pic img {
    width: 180px;
    display: inline-block;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  }
}

#profile-main .pmo-pic .pmo-stat {
  border-radius: 0 0 2px 2px;
  color: #fff;
  text-align: center;
  padding: 30px 5px 0;
}

@media (min-width: 768px) {
  #profile-main .pmo-pic .pmo-stat {
    background: #ffc107;
    padding-bottom: 15px;
  }
}

#profile-main .pmo-pic .pmop-edit {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.38);
  text-align: center;
  padding: 10px 10px 11px;
  -webkit-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

#profile-main .pmo-pic .pmop-edit:hover {
  background: rgba(0, 0, 0, 0.8);
}

#profile-main .pmo-pic .pmop-edit i {
  font-size: 18px;
  vertical-align: middle;
  margin-top: -3px;
}

@media (min-width: 768px) {
  #profile-main .pmo-pic .pmop-edit {
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  #profile-main .pmo-pic .pmop-edit i {
    margin-right: 4px;
  }
}

#profile-main .pmo-pic:hover .pmop-edit {
  opacity: 1;
  filter: alpha(opacity=100);
}

#profile-main .pmo-pic .pmop-message {
  position: absolute;
  bottom: 27px;
  left: 50%;
  margin-left: -25px;
}

#profile-main .pmo-pic .pmop-message .dropdown-menu {
  padding: 5px 0 55px;
  left: -90px;
  width: 228px;
  height: 150px;
  top: -74px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

#profile-main .pmo-pic .pmop-message .dropdown-menu textarea {
  width: 100%;
  height: 95px;
  border: 0;
  resize: none;
  padding: 10px 19px;
}

#profile-main .pmo-pic .pmop-message .dropdown-menu button {
  bottom: 5px;
  left: 88px;
}

#profile-main .pmb-block {
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  #profile-main .pmb-block {
    padding: 40px 42px 0;
  }
}

@media (max-width: 1199px) {
  #profile-main .pmb-block {
    padding: 30px 20px 0;
  }
}

#profile-main .pmb-block:last-child {
  margin-bottom: 50px;
}

#profile-main .pmb-block .pmbb-header {
  margin-bottom: 25px;
  position: relative;
}

#profile-main .pmb-block .pmbb-header .actions {
  position: absolute;
  top: -2px;
  right: 0;
}

#profile-main .pmb-block .pmbb-header h2 {
  margin: 0;
  font-weight: 100;
  font-size: 20px;
}

#profile-main .pmb-block .pmbb-edit {
  position: relative;
  z-index: 1;
}

#profile-main .pmo-block {
  padding: 25px;
}

#profile-main .pmo-block > h2 {
  font-size: 16px;
  margin: 0 0 15px;
}

#profile-main .pmo-items .pmob-body {
  padding: 0 10px;
}

#profile-main .pmo-items a {
  display: block;
  padding: 4px;
}

#profile-main .pmo-items a img {
  width: 100%;
}

.pmo-contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pmo-contact ul li {
  position: relative;
  padding: 8px 0 8px 35px;
}

.pmo-contact ul li i {
  font-size: 18px;
  vertical-align: top;
  line-height: 100%;
  position: absolute;
  left: 0;
  width: 18px;
  text-align: center;
}

.pmo-map {
  margin: 20px -20px -18px;
  display: block;
}

.pmo-map img {
  width: 100%;
}

@media (max-width: 767px) {
  .c-timeline {
    background: #edecec;
    box-shadow: none;
  }

  .c-timeline .tab-nav {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
}

.timeline {
  position: relative;
}

@media (min-width: 768px) {
  .timeline {
    padding: 50px;
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .timeline {
    margin-top: 30px;
  }
}

.t-view {
  border: 1px solid #eee;
  position: relative;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .t-view {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
}

.t-view .tv-header {
  padding: 16px 18px;
  border-bottom: 1px solid #eee;
  background: #F9F9F9;
}

.t-view .tv-header .actions {
  position: absolute;
  top: 5px;
  right: 10px;
}

.t-view .tv-body {
  padding: 23px 25px;
}

.t-view .tv-body .tvb-lightbox {
  margin: 0 -8px 15px;
}

.t-view .tv-body .tvb-lightbox [data-src] {
  padding: 0 5px;
  margin-bottom: 5px;
}

.t-view .tvh-user {
  display: block;
}

.t-view .tvh-user img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.t-view:before {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: -70px;
  top: 0;
  border: 3px solid #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  color: #FFF;
  font-family: 'Material-Design-Iconic-Font';
  z-index: 1;
}

.t-view:after {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 1px;
  height: calc(100% + 37px);
}

.t-view[data-tv-type="text"]:before {
  content: "\f24f";
  background: #00bcd4;
  box-shadow: 0 0 0 1px #00bcd4;
}

.t-view[data-tv-type="text"]:after {
  background: #00bcd4;
}

.t-view[data-tv-type="image"]:before {
  content: "\f17f";
  background: #4caf50;
  box-shadow: 0 0 0 1px #4caf50;
}

.t-view[data-tv-type="image"]:after {
  background: #4caf50;
}

.t-view[data-tv-type="video"]:before {
  content: "\f3a9";
  background: #ffc107;
  box-shadow: 0 0 0 1px #ffc107;
}

.t-view[data-tv-type="video"]:after {
  background: #ffc107;
}

.t-view .tvb-stats {
  list-style: none;
  padding: 0;
  margin: 10px 0 20px;
}

.t-view .tvb-stats > li {
  display: inline-block;
  padding: 5px 10px 6px;
  border: 1px solid #ccc;
  margin-right: 2px;
}

.t-view .tvb-stats > li i {
  font-size: 15px;
  line-height: 100%;
  vertical-align: top;
  margin-top: 2px;
}

.t-view .tvb-stats > li.tvbs-comments {
  border-color: #4caf50;
  color: #4caf50;
}

.t-view .tvb-stats > li.tvbs-likes {
  border-color: #03a9f4;
  color: #03a9f4;
}

.t-view .tvb-stats > li.tvbs-views {
  border-color: #ff9800;
  color: #ff9800;
}

.tv-comments .tvc-lists {
  padding: 0;
  list-style: none;
  margin: 0;
}

.tv-comments .tvc-lists > li {
  padding: 15px 20px;
  margin: 0;
  border-top: 1px solid #eee;
}

.tvc-more {
  color: #333;
  display: block;
  margin-bottom: -10px;
}

.tvc-more:hover {
  color: #000;
}

.tvc-more i {
  vertical-align: middle;
  margin-right: 5px;
}

.p-header {
  position: relative;
  margin: 0 -7px;
}

.p-header .actions {
  position: absolute;
  top: -18px;
  right: 0;
}

.p-menu {
  list-style: none;
  padding: 0 5px;
  margin: 0 0 30px;
}

.p-menu > li {
  display: inline-block;
  vertical-align: top;
}

.p-menu > li > a {
  display: block;
  padding: 5px 20px 5px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
}

.p-menu > li > a > i {
  margin-right: 4px;
  font-size: 20px;
  vertical-align: middle;
  margin-top: -5px;
}

.p-menu > li:not(.active) > a {
  color: #4285F4;
}

.p-menu > li:not(.active) > a:hover {
  color: #333;
}

.p-menu > li.active > a {
  color: #000;
}

@media (max-width: 991px) {
  .p-menu .pm-search {
    margin: 20px 2px 30px;
    display: block;
  }

  .p-menu .pm-search input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
  }
}

.p-menu .pms-inner {
  margin: -2px 0 0;
  position: relative;
  top: -2px;
  overflow: hidden;
  white-space: nowrap;
}

.p-menu .pms-inner i {
  vertical-align: top;
  font-size: 20px;
  line-height: 100%;
  position: absolute;
  left: 9px;
  top: 8px;
  color: #333;
}

.p-menu .pms-inner input[type="text"] {
  height: 35px;
  border-radius: 2px;
  padding: 0 10px 0 40px;
}

@media (min-width: 768px) {
  .p-menu .pms-inner input[type="text"] {
    border: 1px solid #fff;
    width: 50px;
    background: transparent;
    position: relative;
    z-index: 1;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }

  .p-menu .pms-inner input[type="text"]:focus {
    border-color: #DFDFDF;
    width: 200px;
  }
}

.photos {
  margin: -3px 0 0;
}

.photos .lightbox {
  margin: 0 -8px;
}

.photos:not(.p-timeline) [data-src] {
  padding: 3px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}

.p-grid {
  list-style: none;
  padding: 0;
  margin: 0 0 23px;
  text-align: center;
}

.p-grid > li {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  border: 1px solid #D5D5D5;
  line-height: 27px;
  font-size: 12px;
  color: #ABABAB;
  border-radius: 50%;
  cursor: pointer;
  letter-spacing: -1px;
  padding-right: 1px;
  margin: 0 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-grid > li:hover {
  border-color: #C0C0C0;
}

.p-grid > li.active {
  color: #8C8C8C;
  border-color: #8C8C8C;
}

.p-timeline {
  position: relative;
  padding-left: 80px;
  margin-bottom: 75px;
}

.p-timeline [data-src] {
  float: left;
  width: 70px;
  height: 70px;
  margin: 0 3px 3px 0;
}

.p-timeline:last-child .pt-line:before {
  height: 100%;
}

.ptb-title {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.pt-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 14px;
}

.pt-line:before,
.pt-line:after {
  content: "";
  position: absolute;
}

.pt-line:before {
  width: 1px;
  height: calc(100% + 63px);
  background: #E2E2E2;
  top: 14px;
  right: -20px;
}

.pt-line:after {
  top: 2px;
  right: -26px;
  width: 13px;
  height: 13px;
  border: 1px solid #C1C1C1;
  border-radius: 50%;
}

.contacts:not(.c-profile) {
  padding: 0 8px;
}

.contacts > [class*="col-"] {
  padding: 0 10px;
}

.contacts .c-item {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  margin-bottom: 24px;
}

.contacts .c-item .ci-avatar {
  display: block;
}

.contacts .c-item .ci-avatar img {
  width: 100%;
  border-radius: 2px 2px 0 0;
}

.contacts .ci-avatar {
  margin: -1px -1px 0;
}

.contacts .c-info {
  text-align: center;
  margin-top: 15px;
  padding: 0 5px;
}

.contacts .c-info strong {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.contacts .c-info small {
  color: #999;
  margin-top: 3px;
}

.contacts .c-info strong,
.contacts .c-info small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.contacts .c-footer {
  border-top: 1px solid #e2e2e2;
  margin-top: 18px;
}

.contacts .c-footer > button {
  padding: 4px 10px 3px;
  display: block;
  width: 100%;
  text-align: center;
  color: #333;
  font-weight: 500;
  border-radius: 2px;
  background: #fff;
  border: 0;
}

.contacts .c-footer > button > i {
  font-size: 16px;
  vertical-align: middle;
  margin-top: -3px;
}

.z-depth-1 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.z-depth-1-top {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
}

.z-depth-1-bottom {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.z-depth-2 {
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.z-depth-2-top {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}

.z-depth-2-bottom {
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
}

.z-depth-3 {
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.24), 0 17px 50px rgba(0, 0, 0, 0.19);
}

.z-depth-3-top {
  box-shadow: 0 17px 50px rgba(0, 0, 0, 0.19);
}

.z-depth-3-bottom {
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.24);
}

.z-depth-4 {
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.22), 0 25px 55px rgba(0, 0, 0, 0.21);
}

.z-depth-4-top {
  box-shadow: 0 25px 55px rgba(0, 0, 0, 0.21);
}

.z-depth-4-bottom {
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.22);
}

.z-depth-5 {
  box-shadow: 0 27px 24px rgba(0, 0, 0, 0.2), 0 40px 77px rgba(0, 0, 0, 0.22);
}

.z-depth-5-top {
  box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22);
}

.z-depth-5-bottom {
  box-shadow: 0 27px 24px rgba(0, 0, 0, 0.2);
}

.z-depth-animation .z-depth-1,
.z-depth-animation .z-depth-2,
.z-depth-animation .z-depth-3,
.z-depth-animation .z-depth-4,
.z-depth-animation .z-depth-5 {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

/*
 * Block Header
 * Used for Heading outside the Cards.
 */

.block-header {
  margin-bottom: 25px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .block-header {
    padding: 0 22px;
  }
}

@media screen and (max-width: 991px) {
  .block-header {
    padding: 0 18px;
  }
}

.block-header > h2 {
  font-size: 15px;
  color: #777;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.block-header > h2 > small {
  display: block;
  text-transform: none;
  margin-top: 8px;
  margin-bottom: 20px;
  color: #9E9E9E;
  line-height: 140%;
}

.block-header .actions {
  position: absolute;
  right: 10px;
  top: -5px;
  z-index: 4;
}

/*
 * Header Actions
 */

.actions {
  list-style: none;
  padding: 0;
  z-index: 3;
  margin: 0;
}

.actions > li {
  display: inline-block;
  vertical-align: baseline;
}

.actions > li > a,
.actions > a {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}

.actions > li > a > i,
.actions > a > i {
  color: #adadad;
  font-size: 20px;
}

.actions > li > a:hover > i,
.actions > a:hover > i {
  color: #000;
}

@media (min-width: 768px) {
  .actions > li > a,
  .actions > a {
    position: relative;
  }

  .actions > li > a:before,
  .actions > a:before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    border-radius: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .actions > li > a:hover:before,
  .actions > a:hover:before,
  .actions > li > a.open:before,
  .actions > a.open:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.actions > li.open > a > i,
.actions.open > a > i {
  color: #000;
}

.actions > li.open > a:before,
.actions.open > a:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.actions.actions-alt > li > a > i {
  color: #fff;
}

.actions.actions-alt > li > a > i:hover {
  color: #fff;
}

.actions.actions-alt > li.open > a > i {
  color: #fff;
}

.actions.open {
  z-index: 3;
}

/*
 * Collapse Menu Icons
 */

.line-wrap {
  width: 18px;
  height: 12px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  margin: 12px 20px;
}

.line-wrap .line {
  width: 18px;
  height: 2px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.line-wrap .line.center {
  margin: 3px 0;
}

.open .line-wrap {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.open .line-wrap .line.top {
  width: 12px;
  transform: translateX(8px) translateY(1px) rotate(45deg);
  -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
}

.open .line-wrap .line.bottom {
  width: 12px;
  transform: translateX(8px) translateY(-1px) rotate(-45deg);
  -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
}

/*
 * Load More
 */

.load-more {
  text-align: center;
  margin-top: 30px;
}

.load-more a {
  padding: 5px 10px 3px;
  display: inline-block;
  background-color: #f44336;
  color: #FFF;
  border-radius: 2px;
  white-space: nowrap;
}

.load-more a i {
  font-size: 20px;
  vertical-align: middle;
  position: relative;
  margin-top: -2px;
}

.load-more a:hover {
  background-color: #ea1c0d;
}

.ie-warning {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #000000;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  padding: 50px 0;
}

.ie-warning p {
  font-size: 17px;
}

.ie-warning .iew-container {
  min-width: 1024px;
  width: 100%;
  height: 200px;
  background: #fff;
  margin: 50px 0;
}

.ie-warning .iew-download {
  list-style: none;
  padding: 30px 0;
  margin: 0 auto;
  width: 720px;
}

.ie-warning .iew-download > li {
  float: left;
  vertical-align: top;
}

.ie-warning .iew-download > li > a {
  display: block;
  color: #000;
  width: 140px;
  font-size: 15px;
  padding: 15px 0;
}

.ie-warning .iew-download > li > a > div {
  margin-top: 10px;
}

.ie-warning .iew-download > li > a:hover {
  background-color: #eee;
}

/*
 * Animation
 */

@-webkit-keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Make clicks pass-through */

#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: linear all;
  -o-transition: linear all;
  transition: linear all;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
  filter: alpha(opacity=0);
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
  filter: alpha(opacity=100);
}

#loading-bar .bar {
  -webkit-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */

#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: 0.45;
  filter: alpha(opacity=45);
  box-shadow: #fff 1px 0 6px 1px;
  border-radius: 100%;
  z-index: 99999;
}

#loading-bar-spinner {
  width: 56px;
  height: 56px;
  text-align: center;
  padding: 14px;
  border-radius: 50%;
  position: fixed;
  top: 105px;
  left: 50%;
  margin-left: -28px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

#loading-bar-spinner .spinner-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0;
  float: left;
  background: transparent !important;
  border: 2px solid #00bcd4;
  border-bottom-color: transparent !important;
  border-radius: 100%;
  -webkit-animation: ball-clip-rotate 0.75s linear infinite;
  -o-animation: ball-clip-rotate 0.75s linear infinite;
  animation: ball-clip-rotate 0.75s linear infinite;
}

#loading-bar-spinner:before,
#loading-bar-spinner:after {
  content: " ";
  display: table;
}

#loading-bar-spinner:after {
  clear: both;
}

#loading-bar-spinner:before,
#loading-bar-spinner:after {
  content: " ";
  display: table;
}

#loading-bar-spinner:after {
  clear: both;
}

#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 110px;
  color: #a2a2a2;
  padding-top: 35px;
  padding-bottom: 15px;
}

#footer .f-menu {
  display: block;
  width: 100%;
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  margin-top: 8px;
}

#footer .f-menu > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

#footer .f-menu > li > a {
  color: #a2a2a2;
}

#footer .f-menu > li > a:hover {
  color: #777;
}

@media (min-width: 1199px) {
  body.sw-toggled #footer {
    padding-left: 268px;
  }
}

.pt-inner {
  text-align: center;
}

.pt-inner .pti-header {
  padding: 45px 10px 70px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
}

.pt-inner .pti-header > h2 {
  margin: 0;
  line-height: 100%;
  color: #fff;
  font-weight: 100;
  font-size: 50px;
}

.pt-inner .pti-header > h2 small {
  color: #fff;
  letter-spacing: 0;
  vertical-align: top;
  font-size: 16px;
  font-weight: 100;
}

.pt-inner .pti-header .ptih-title {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 10px 9px;
  text-transform: uppercase;
  margin: 0 -10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.pt-inner .pti-body {
  padding: 0 23px;
}

.pt-inner .pti-body .ptib-item {
  padding: 15px 0;
  font-weight: 400;
}

.pt-inner .pti-body .ptib-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.pt-inner .pti-footer {
  padding: 10px 20px 30px;
}

.pt-inner .pti-footer > a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: inline-block;
  line-height: 60px;
  font-size: 30px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.pt-inner .pti-footer > a:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.invoice {
  min-width: 1100px;
  max-width: 1170px;
}

.i-logo {
  width: 150px;
}

.i-table .highlight {
  background-color: #eee;
  border-bottom: 1px solid #e6e6e6;
}

.i-table td.highlight {
  font-size: 14px;
  font-weight: 500;
}

.wall-attrs {
  margin-bottom: 0;
}

.wa-stats {
  float: left;
}

.wa-stats > span {
  margin-right: -1px;
  padding: 7px 12px;
  border: 1px solid #E0E0E0;
  float: left;
  font-weight: 500;
}

.wa-stats > span.active {
  color: #4caf50;
}

.wa-stats > span:first-child {
  border-radius: 2px 0 0 2px;
}

.wa-stats > span:last-child {
  border-radius: 0 2px 2px 0;
}

.wa-stats > span > i {
  line-height: 100%;
  vertical-align: top;
  position: relative;
  top: 2px;
  font-size: 15px;
  margin-right: 2px;
}

.wa-users {
  float: right;
  padding: 0 !important;
  margin-right: -5px;
}

.wa-users > a {
  display: inline-block;
  margin-left: 2px;
}

.wa-users > a > img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.wa-users > a > img:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.wcc-inner {
  border: 1px solid #E4E4E4;
  padding: 10px 15px;
  resize: none;
  border-radius: 2px;
  background: #fff;
  color: #9A9A9A;
  cursor: pointer;
}

.wcci-text {
  border: 0;
  display: block;
  width: 100%;
  resize: none;
  padding: 0;
}

.wall-comment-list {
  padding: 20px;
  background: #f7f7f7;
}

.wall-comment-list .media {
  position: relative;
}

.wall-comment-list .media:hover .actions {
  display: block;
}

.wall-comment-list .actions {
  display: none;
  position: absolute;
  right: -20px;
  top: -1px;
}

.wcl-list + .wcl-form {
  margin-top: 25px;
}

.wp-text {
  border: 0;
  padding: 0;
  display: block;
  width: 100%;
  resize: none;
}

.wp-media {
  background: #f7f7f7;
  border: 1px solid #E4E4E4;
  padding: 12px 15px;
  margin-top: 25px;
  text-align: center;
}

.wpb-actions {
  background: #f7f7f7;
  margin: 0;
  padding: 10px 20px;
}

.wpb-actions > li:not(.pull-right) {
  float: left;
}

[data-wpba="image"] {
  color: #4caf50;
}

[data-wpba="image"]:hover {
  color: #449d48;
}

[data-wpba="video"] {
  color: #ff9800;
}

[data-wpba="video"]:hover {
  color: #e68900;
}

[data-wpba="link"] {
  color: #00bcd4;
}

[data-wpba="link"]:hover {
  color: #00a5bb;
}

.wpba-attrs > ul > li {
  padding: 0;
  margin-right: 5px;
}

.wpba-attrs > ul > li > a {
  display: block;
  width: 22px;
}

.wpba-attrs > ul > li > a > i {
  font-size: 20px;
}

.wpba-attrs > ul > li > a.active > i {
  color: #333;
}

.wall-img-preview {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .wall-img-preview {
    margin: 0 -23px 20px;
  }
}

@media screen and (max-width: 991px) {
  .wall-img-preview {
    margin: 0 -16px 20px;
  }
}

.wall-img-preview .wip-item {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.wall-img-preview .wip-item > img {
  display: none;
}

.wall-img-preview .wip-item:first-child:nth-last-child(2),
.wall-img-preview .wip-item:first-child:nth-last-child(2) ~ div {
  width: 50%;
  padding-bottom: 40%;
}

.wall-img-preview .wip-item:first-child:nth-last-child(3),
.wall-img-preview .wip-item:first-child:nth-last-child(3) ~ div,
.wall-img-preview .wip-item:first-child:nth-last-child(4),
.wall-img-preview .wip-item:first-child:nth-last-child(4) ~ div:not(:last-child),
.wall-img-preview .wip-item:first-child:nth-last-child(5),
.wall-img-preview .wip-item:first-child:nth-last-child(5) ~ div:not( :nth-last-of-type(-n+2)),
.wall-img-preview .wip-item:first-child:nth-last-child(6),
.wall-img-preview .wip-item:first-child:nth-last-child(6) ~ div,
.wall-img-preview .wip-item:first-child:nth-last-child(7) ~ div:nth-last-of-type(-n+3) {
  width: 33.333333%;
  padding-bottom: 30%;
}

.wall-img-preview .wip-item:first-child:nth-last-child(5) ~ div:nth-last-of-type(-n+2) {
  width: 50%;
  padding-bottom: 40%;
}

.wall-img-preview .wip-item:first-child:nth-last-child(7),
.wall-img-preview .wip-item:first-child:nth-last-child(7) ~ div:not( :nth-last-of-type(-n+3)),
.wall-img-preview .wip-item:first-child:nth-last-child(n+8),
.wall-img-preview .wip-item:first-child:nth-last-child(n+8) ~ div {
  width: 25%;
  padding-bottom: 22%;
}

.wall-img-preview .wip-item:only-child,
.wall-img-preview .wip-item:first-child:nth-last-child(4) ~ div:nth-child(4) {
  width: 100%;
  padding-bottom: 50%;
}

/*
 * For header type 1 only
 * You may remove these if you opt header 2
 */

#header .skin-switch {
  padding: 15px 0 8px;
  text-align: center;
}

#header .ss-skin {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 2px 5px;
}

/* ----------------------------- End header type 1 ------------------------------------- */

/*
 * For header type 2 only
 * You may remove these if you opt header 1
 */

#header-2 .skin-switch {
  position: absolute;
  right: 58px;
  bottom: 23px;
  z-index: 1;
}

#header-2 .skin-switch .btn {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  z-index: 2;
}

#header-2 .skin-switch .dropdown-menu {
  min-width: 130px;
  height: 130px;
  border-radius: 50%;
  width: 130px;
  top: -42px;
  left: -40px;
  z-index: 1;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scale(0) rotate(-360deg);
  -ms-transform: scale(0) rotate(-360deg);
  -o-transform: scale(0) rotate(-360deg);
  transform: scale(0) rotate(-360deg);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

#header-2 .skin-switch .dropdown-menu .ss-skin {
  position: absolute;
}

#header-2 .skin-switch .dropdown-menu .ss-skin:nth-child(1) {
  margin-left: -8px;
  top: 12px;
  left: 50%;
}

#header-2 .skin-switch .dropdown-menu .ss-skin:nth-child(2) {
  right: 24px;
  top: 26px;
}

#header-2 .skin-switch .dropdown-menu .ss-skin:nth-child(3) {
  top: 50%;
  margin-top: -8px;
  right: 12px;
}

#header-2 .skin-switch .dropdown-menu .ss-skin:nth-child(4) {
  right: 24px;
  bottom: 26px;
}

#header-2 .skin-switch .dropdown-menu .ss-skin:nth-child(5) {
  margin-left: -8px;
  bottom: 12px;
  left: 50%;
}

#header-2 .skin-switch .dropdown-menu .ss-skin:nth-child(6) {
  left: 24px;
  bottom: 26px;
}

#header-2 .skin-switch .dropdown-menu .ss-skin:nth-child(7) {
  top: 50%;
  margin-top: -8px;
  left: 12px;
}

#header-2 .skin-switch .dropdown-menu .ss-skin:nth-child(8) {
  left: 24px;
  top: 26px;
}

#header-2 .skin-switch.open .dropdown-menu {
  -webkit-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}

/* ----------------------------- End header type 2 ------------------------------------- */

/*
 * Do not remove these
 * This is common for both
 */

.ss-skin {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.ss-skin:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

[data-current-skin="lightblue"] {
  background-color: #03a9f4;
}

[data-current-skin="lightblue"] .ss-icon {
  color: #03a9f4;
}

@media (max-width: 767px) {
  [data-current-skin="lightblue"] .ha-menu {
    background: #03a9f4;
  }
}

[data-current-skin="bluegray"] {
  background-color: #607d8b;
}

[data-current-skin="bluegray"] .ss-icon {
  color: #607d8b;
}

@media (max-width: 767px) {
  [data-current-skin="bluegray"] .ha-menu {
    background: #607d8b;
  }
}

[data-current-skin="blue"] {
  background-color: #2196f3;
}

[data-current-skin="blue"] .ss-icon {
  color: #2196f3;
}

@media (max-width: 767px) {
  [data-current-skin="blue"] .ha-menu {
    background: #2196f3;
  }
}

[data-current-skin="purple"] {
  background-color: #9c27b0;
}

[data-current-skin="purple"] .ss-icon {
  color: #9c27b0;
}

@media (max-width: 767px) {
  [data-current-skin="purple"] .ha-menu {
    background: #9c27b0;
  }
}

[data-current-skin="orange"] {
  background-color: #ff9800;
}

[data-current-skin="orange"] .ss-icon {
  color: #ff9800;
}

@media (max-width: 767px) {
  [data-current-skin="orange"] .ha-menu {
    background: #ff9800;
  }
}

[data-current-skin="cyan"] {
  background-color: #00bcd4;
}

[data-current-skin="cyan"] .ss-icon {
  color: #00bcd4;
}

@media (max-width: 767px) {
  [data-current-skin="cyan"] .ha-menu {
    background: #00bcd4;
  }
}

[data-current-skin="green"] {
  background-color: #4caf50;
}

[data-current-skin="green"] .ss-icon {
  color: #4caf50;
}

@media (max-width: 767px) {
  [data-current-skin="green"] .ha-menu {
    background: #4caf50;
  }
}

[data-current-skin="teal"] {
  background-color: #009688;
}

[data-current-skin="teal"] .ss-icon {
  color: #009688;
}

@media (max-width: 767px) {
  [data-current-skin="teal"] .ha-menu {
    background: #009688;
  }
}

[data-current-skin="pink"] {
  background-color: #e91e63;
}

[data-current-skin="pink"] .ss-icon {
  color: #e91e63;
}

@media (max-width: 767px) {
  [data-current-skin="pink"] .ha-menu {
    background: #e91e63;
  }
}

.preloader {
  position: relative;
  margin: 0px auto;
  display: inline-block;
}

.preloader:not([class*="pl-"]) {
  width: 40px;
}

.preloader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.preloader.pl-xs {
  width: 20px;
}

.preloader.pl-sm {
  width: 30px;
}

.preloader.pl-lg {
  width: 50px;
}

.preloader.pl-xl {
  width: 80px;
}

.preloader.pl-xxl {
  width: 100px;
}

.preloader:not([class*="pls-"]) .plc-path {
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

.preloader[class*="pls-"] .plc-path {
  animation: dash 1.5s ease-in-out infinite;
}

.preloader.pls-red .plc-path {
  stroke: #f44336;
}

.preloader.pls-blue .plc-path {
  stroke: #2196f3;
}

.preloader.pls-green .plc-path {
  stroke: #4caf50;
}

.preloader.pls-yellow .plc-path {
  stroke: #ffeb3b;
}

.preloader.pls-bluegray .plc-path {
  stroke: #607d8b;
}

.preloader.pls-amber .plc-path {
  stroke: #ffc107;
}

.preloader.pls-teal .plc-path {
  stroke: #009688;
}

.preloader.pls-gray .plc-path {
  stroke: #9e9e9e;
}

.preloader.pls-pink .plc-path {
  stroke: #e91e63;
}

.preloader.pls-purple .plc-path {
  stroke: #9c27b0;
}

.pl-circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.plc-path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%, 0% {
    stroke: #f44336;
  }

  40% {
    stroke: #2196f3;
  }

  66% {
    stroke: #4caf50;
  }

  80%, 90% {
    stroke: #ffc107;
  }
}

@media print {
@page {
    margin: 0;
    size: auto;
}

  body {
    margin: 0mm 0mm 0mm 0mm !important;
    padding: 0mm !important;
  }

  #header,
  #footer,
  #sidebar,
  #chat,
  .growl-animated,
  .m-btn {
    display: none !important;
  }

  /*
     * INVOICE
     */

  .invoice {
    padding: 30px !important;
    -webkit-print-color-adjust: exact !important;
  }

  .invoice .card-header {
    background: #eee !important;
    padding: 20px;
    margin-bottom: 20px;
    margin: -60px -30px 25px -30px;
  }

  .invoice .block-header {
    display: none;
  }

  .invoice .highlight {
    background: #eee !important;
  }
}

/*
 * Vendor Overrides
 */

.mejs-container {
  outline: none;
}

.mejs-container .mejs-controls {
  background: #ec592f;
  height: 50px;
  padding: 10px 5px 0;
}

.mejs-container .mejs-controls div {
  height: 5px;
}

.mejs-container .mejs-controls div.mejs-time-rail {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100% !important;
}

.mejs-container .mejs-controls div.mejs-time-rail .mejs-time-total {
  margin: 0;
  width: 100% !important;
  background: #ec592f;
}

.mejs-container .mejs-controls div.mejs-time-rail .mejs-time-loaded {
  background: #D04B25;
}

.mejs-container .mejs-controls div.mejs-time-rail .mejs-time-current {
  background: #ffea00;
}

.mejs-container .mejs-controls div.mejs-time-rail .mejs-time-buffering {
  background: #ec592f;
}

.mejs-container .mejs-controls div.mejs-time-rail span:not(.mejs-time-float),
.mejs-container .mejs-controls div.mejs-time-rail a {
  border-radius: 0;
  height: 3px;
}

.mejs-container .mejs-controls .mejs-button button {
  background-color: #ec592f;
  width: 15px;
  height: 15px;
  background-position: center;
}

.mejs-container .mejs-controls .mejs-button button:focus {
  outline: none !important;
}

.mejs-container .mejs-controls .mejs-volume-button {
  position: absolute;
  right: 35px;
}

.mejs-container .mejs-controls .mejs-play button {
  background-image: url("../img/icons/play.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .mejs-container .mejs-controls .mejs-play button {
    background-image: url("../img/icons/play@2x.png");
    background-size: 15px 15px;
  }
}

.mejs-container .mejs-controls .mejs-pause button {
  background-image: url("../img/icons/pause.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .mejs-container .mejs-controls .mejs-pause button {
    background-image: url("../img/icons/pause@2x.png");
    background-size: 15px 15px;
  }
}

.mejs-container .mejs-controls .mejs-mute button {
  background-image: url("../img/icons/speaker.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .mejs-container .mejs-controls .mejs-mute button {
    background-image: url("../img/icons/speaker@2x.png");
    background-size: 15px 15px;
  }
}

.mejs-container .mejs-controls .mejs-unmute button {
  background-image: url("../img/icons/speaker-2.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .mejs-container .mejs-controls .mejs-unmute button {
    background-image: url("../img/icons/speaker-2@2x.png");
    background-size: 15px 15px;
  }
}

.mejs-container .mejs-controls .mejs-fullscreen-button {
  position: absolute;
  right: 5px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button {
  background-image: url("../img/icons/fullscreen.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .mejs-container .mejs-controls .mejs-fullscreen-button button {
    background-image: url("../img/icons/fullscreen@2x.png");
    background-size: 15px 15px;
  }
}

/** CALENDAR WIDGET **/

#calendar-widget {
  margin-bottom: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#fc-actions {
  position: absolute;
  bottom: 10px;
  right: 12px;
}

.fc {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.fc td,
.fc th {
  border-color: #f0f0f0;
}

.fc th {
  font-weight: 400;
}

.fc table {
  background: transparent;
}

.fc table tr > td:first-child {
  border-left-width: 0;
}

#calendar-widget .fc-toolbar {
  background: #009688;
}

#calendar-widget .fc-day-header {
  color: #fff;
  background: #007d71;
  padding: 5px 0;
  border-width: 0;
}

#calendar-widget .fc-day-number {
  text-align: center;
  color: #ADADAD;
  padding: 5px 0;
}

#calendar-widget .fc-day-grid-event {
  margin: 1px 3px 1px;
}

#calendar-widget .ui-widget-header th,
#calendar-widget .ui-widget-header {
  border-width: 0;
}

#calendar .fc-toolbar {
  height: 300px;
  background-image: url('../img/emergency-header2.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

#calendar .fc-toolbar:before {
  content: "";
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.36);
  position: absolute;
  bottom: 0;
  left: 0;
}

#calendar .fc-toolbar .fc-center {
  margin-top: 238px;
  position: relative;
}

@media screen and (max-width: 991px) {
  #calendar .fc-toolbar {
    height: 200px;
  }

  #calendar .fc-toolbar .fc-center {
    margin-top: 138px;
  }
}

#calendar .fc-day-header {
  color: #ADADAD;
  text-align: left;
  font-size: 14px;
  border-bottom-width: 0;
  border-right-color: #eee;
  padding: 10px 12px;
}

#calendar .fc-day-number {
  padding-left: 10px !important;
  color: #CCC;
  text-align: left !important;
}

@media screen and (min-width: 991px) {
  #calendar .fc-day-number {
    font-size: 25px;
    letter-spacing: -2px;
  }
}

#calendar .fc-day-grid-event {
  margin: 1px 9px 0;
}

.fc-today {
  color: #ffc107;
}

.fc-toolbar {
  margin-bottom: 0;
  padding: 20px 7px 19px;
  position: relative;
}

.fc-toolbar h2 {
  margin-top: 7px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.fc-toolbar .ui-button {
  border: 0;
  background: 0 0;
  padding: 0;
  outline: none !important;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 2px;
  color: #fff;
}

.fc-toolbar .ui-button:hover {
  background: #fff;
  color: #009688;
}

.fc-toolbar .ui-button > span {
  position: relative;
  font-family: 'Material-Design-Iconic-Font';
  font-size: 20px;
  line-height: 100%;
  width: 30px;
  display: block;
  margin-top: 2px;
}

.fc-toolbar .ui-button > span:before {
  position: relative;
  z-index: 1;
}

.fc-toolbar .ui-button > span.ui-icon-circle-triangle-w:before {
  content: "\f2fa";
}

.fc-toolbar .ui-button > span.ui-icon-circle-triangle-e:before {
  content: "\f2fb";
}

.fc-event {
  padding: 0;
  font-size: 11px;
  border-radius: 0;
  border: 0;
}

.fc-event .fc-title {
  padding: 2px 8px;
  display: block;
}

.fc-event .fc-time {
  float: left;
  background: rgba(0, 0, 0, 0.2);
  padding: 2px 6px;
  margin: 0 0 0 -1px;
}

.fc-view,
.fc-view > table {
  border: 0;
  overflow: hidden;
}

.fc-view > table > tbody > tr > .ui-widget-content {
  border-top: 0;
}

div.fc-row {
  margin-right: 0 !important;
  border: 0 !important;
}

.fc-today {
  color: #ffc107 !important;
}

/* Even Tag Color */

.event-tag {
  margin-top: 5px;
}

.event-tag > span {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 3px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.event-tag > span:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.event-tag > span.selected:before {
  font-family: 'Material-Design-Iconic-Font';
  content: "\f26b";
  position: absolute;
  text-align: center;
  top: 3px;
  width: 100%;
  font-size: 17px;
  color: #FFF;
}

hr.fc-divider {
  border-width: 1px;
  border-color: #eee;
}

.fc-day-grid-container.fc-scroller {
  height: auto !important;
  overflow: hidden !important;
}

.chosen-container .chosen-drop {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1px;
  border: 0;
  left: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: transform opacity;
  -o-transition: transform opacity;
  transition: transform opacity;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

.chosen-container.chosen-with-drop .chosen-drop {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.chosen-container.chosen-with-drop .chosen-single:after {
  width: 100%;
}

.chosen-container .chosen-results {
  margin: 0;
  padding: 0;
  max-height: 300px;
}

.chosen-container .chosen-results li {
  padding: 10px 17px;
  width: 100%;
}

.chosen-container .chosen-results li.highlighted {
  background: rgba(0, 0, 0, 0.075);
  color: #333333;
}

.chosen-container .chosen-results li.result-selected {
  background: transparent;
  color: #5e5e5e;
  position: relative;
}

.chosen-container .chosen-results li.result-selected:before {
  content: "\f26b";
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 19px;
}

.chosen-container .chosen-results li.group-result {
  color: #B2B2B2;
  font-weight: normal;
  padding: 16px 15px 6px;
  margin-top: 9px;
}

.chosen-container .chosen-results li.group-result:not(:first-child) {
  border-top: 1px solid #eee;
}

.chosen-container-single .chosen-single {
  border-radius: 0;
  overflow: visible;
  height: 34px;
  padding: 6px 0 6px;
  text-transform: uppercase;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

.chosen-container-single .chosen-single:after {
  content: "";
  width: 0;
  background: #2196f3;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  -webkit-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.chosen-container-single .chosen-single div b {
  background-image: url("../img/select.png");
  background-repeat: no-repeat;
  background-position: right 12px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .chosen-container-single .chosen-single div b {
    background-image: url("../img/select@2x.png");
    background-size: 12px 12px;
  }
}

.chosen-container-single .chosen-search {
  padding: 5px 5px 5px 40px;
  background: #f7f7f7;
}

.chosen-container-single .chosen-search:before {
  content: "\f1c3";
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 100%;
  font-size: 25px;
  padding: 5px 0 0 15px;
}

.chosen-container-single .chosen-search input[type=text] {
  border: 0;
  height: 35px;
  background-color: transparent;
  line-height: 1.42857143;
}

.chosen-container-multi .chosen-choices {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

.chosen-container-multi .chosen-choices li.search-choice {
  border-radius: 2px;
  margin: 4px 4px 0 0;
  background: #eaeaea;
  border-color: #eaeaea;
  padding: 5px 23px 5px 8px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
  display: inline-block;
  font-family: 'Material-Design-Iconic-Font';
  content: "\f135";
  position: relative;
  top: 1px;
  color: #9C9C9C;
  z-index: 2;
  font-size: 12px;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  padding: 0;
  height: 31px;
}

select.chosen {
  display: none;
}

.noUi-target {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

.noUi-background {
  background: #d4d4d4;
  box-shadow: none;
}

.noUi-horizontal {
  height: 3px;
}

.noUi-horizontal .noUi-handle {
  top: -8px;
}

.noUi-vertical {
  width: 3px;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
  width: 19px;
  height: 19px;
  border: 0;
  border-radius: 100%;
  box-shadow: none;
  -webkit-transition: box-shadow;
  -o-transition: box-shadow;
  transition: box-shadow;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  cursor: pointer;
  position: relative;
}

.noUi-horizontal .noUi-handle:before,
.noUi-vertical .noUi-handle:before,
.noUi-horizontal .noUi-handle:after,
.noUi-vertical .noUi-handle:after {
  display: none;
}

.noUi-horizontal .noUi-handle:active,
.noUi-vertical .noUi-handle:active {
  background: #ccc !important;
}

.noUi-horizontal .noUi-handle .is-tooltip,
.noUi-vertical .noUi-handle .is-tooltip {
  position: absolute;
  bottom: 32px;
  height: 35px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  line-height: 33px;
  width: 50px;
  left: 50%;
  margin-left: -25px;
  padding: 0 10px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.noUi-horizontal .noUi-handle .is-tooltip:after,
.noUi-vertical .noUi-handle .is-tooltip:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
  content: "";
}

.noUi-horizontal .noUi-active,
.noUi-vertical .noUi-active {
  box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.1);
}

.noUi-horizontal .noUi-active .is-tooltip,
.noUi-vertical .noUi-active .is-tooltip {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  bottom: 40px;
  opacity: 1;
  filter: alpha(opacity=100);
}

.input-slider:not([data-is-color]) .noUi-handle,
.input-slider-range:not([data-is-color]) .noUi-handle,
.input-slider-values:not([data-is-color]) .noUi-handle,
.input-slider:not([data-is-color]) .noUi-connect,
.input-slider-range:not([data-is-color]) .noUi-connect,
.input-slider-values:not([data-is-color]) .noUi-connect {
  background: #009688 !important;
}

.input-slider:not([data-is-color]) .is-tooltip,
.input-slider-range:not([data-is-color]) .is-tooltip,
.input-slider-values:not([data-is-color]) .is-tooltip {
  background: #009688;
}

.input-slider:not([data-is-color]) .is-tooltip:after,
.input-slider-range:not([data-is-color]) .is-tooltip:after,
.input-slider-values:not([data-is-color]) .is-tooltip:after {
  border-color: #009688 transparent transparent transparent;
}

.input-slider[data-is-color=red] .noUi-handle,
.input-slider-range[data-is-color=red] .noUi-handle,
.input-slider-values[data-is-color=red] .noUi-handle,
.input-slider[data-is-color=red] .noUi-connect,
.input-slider-range[data-is-color=red] .noUi-connect,
.input-slider-values[data-is-color=red] .noUi-connect {
  background: #f44336 !important;
}

.input-slider[data-is-color=blue] .noUi-handle,
.input-slider-range[data-is-color=blue] .noUi-handle,
.input-slider-values[data-is-color=blue] .noUi-handle,
.input-slider[data-is-color=blue] .noUi-connect,
.input-slider-range[data-is-color=blue] .noUi-connect,
.input-slider-values[data-is-color=blue] .noUi-connect {
  background: #2196f3 !important;
}

.input-slider[data-is-color=cyan] .noUi-handle,
.input-slider-range[data-is-color=cyan] .noUi-handle,
.input-slider-values[data-is-color=cyan] .noUi-handle,
.input-slider[data-is-color=cyan] .noUi-connect,
.input-slider-range[data-is-color=cyan] .noUi-connect,
.input-slider-values[data-is-color=cyan] .noUi-connect {
  background: #00bcd4 !important;
}

.input-slider[data-is-color=amber] .noUi-handle,
.input-slider-range[data-is-color=amber] .noUi-handle,
.input-slider-values[data-is-color=amber] .noUi-handle,
.input-slider[data-is-color=amber] .noUi-connect,
.input-slider-range[data-is-color=amber] .noUi-connect,
.input-slider-values[data-is-color=amber] .noUi-connect {
  background: #ffc107 !important;
}

.input-slider[data-is-color=green] .noUi-handle,
.input-slider-range[data-is-color=green] .noUi-handle,
.input-slider-values[data-is-color=green] .noUi-handle,
.input-slider[data-is-color=green] .noUi-connect,
.input-slider-range[data-is-color=green] .noUi-connect,
.input-slider-values[data-is-color=green] .noUi-connect {
  background: #4caf50 !important;
}

.input-slider .noUi-origin {
  background: #d4d4d4;
}

.input-slider:not([data-is-color]) .noUi-base {
  background: #009688 !important;
}

.input-slider[data-is-color=red] .noUi-base {
  background: #f44336 !important;
}

.input-slider[data-is-color=blue] .noUi-base {
  background: #2196f3 !important;
}

.input-slider[data-is-color=cyan] .noUi-base {
  background: #00bcd4 !important;
}

.input-slider[data-is-color=amber] .noUi-base {
  background: #ffc107 !important;
}

.input-slider[data-is-color=green] .noUi-base {
  background: #4caf50 !important;
}

.cp-container {
  position: relative;
}

.cp-container > .input-group input.cp-value {
  color: #000 !important;
  background: transparent !important;
}

.cp-container > .input-group .dropdown-menu {
  padding: 20px;
}

.cp-container i.cp-value {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 15px;
}

.note-editor,
.note-popover {
  border-color: #e4e4e4;
}

.note-editor .note-toolbar,
.note-popover .note-toolbar,
.note-editor .popover-content,
.note-popover .popover-content {
  background: #fff;
  border-color: #e4e4e4;
  margin: 0;
  padding: 10px 0 15px;
  text-align: center;
}

.note-editor .note-toolbar > .btn-group,
.note-popover .note-toolbar > .btn-group,
.note-editor .popover-content > .btn-group,
.note-popover .popover-content > .btn-group {
  display: inline-block;
  float: none;
  box-shadow: none;
}

.note-editor .note-toolbar > .btn-group .btn,
.note-popover .note-toolbar > .btn-group .btn,
.note-editor .popover-content > .btn-group .btn,
.note-popover .popover-content > .btn-group .btn {
  margin: 0 1px;
}

.note-editor .note-toolbar > .btn-group > .active,
.note-popover .note-toolbar > .btn-group > .active,
.note-editor .popover-content > .btn-group > .active,
.note-popover .popover-content > .btn-group > .active {
  background: #00bcd4;
  color: #fff;
}

.note-editor .note-toolbar .btn,
.note-popover .note-toolbar .btn,
.note-editor .popover-content .btn,
.note-popover .popover-content .btn {
  height: 40px;
  border-radius: 2px !important;
  box-shadow: none !important;
}

.note-editor .note-toolbar .btn:active,
.note-popover .note-toolbar .btn:active,
.note-editor .popover-content .btn:active,
.note-popover .popover-content .btn:active {
  box-shadow: none;
}

.note-editor .note-toolbar .note-palette-title,
.note-popover .note-toolbar .note-palette-title,
.note-editor .popover-content .note-palette-title,
.note-popover .popover-content .note-palette-title {
  margin: 0 !important;
  padding: 10px 0 !important;
  font-size: 13px !important;
  text-align: center !important;
  border: 0 !important;
}

.note-editor .note-toolbar .note-color-reset,
.note-popover .note-toolbar .note-color-reset,
.note-editor .popover-content .note-color-reset,
.note-popover .popover-content .note-color-reset {
  padding: 0 0 10px !important;
  margin: 0 !important;
  background: none;
  text-align: center;
}

.note-editor .note-toolbar .note-color .dropdown-menu,
.note-popover .note-toolbar .note-color .dropdown-menu,
.note-editor .popover-content .note-color .dropdown-menu,
.note-popover .popover-content .note-color .dropdown-menu {
  min-width: 335px;
}

.note-editor .note-statusbar .note-resizebar,
.note-popover .note-statusbar .note-resizebar {
  border-color: #E8E8E8;
}

.note-editor .note-statusbar .note-resizebar .note-icon-bar,
.note-popover .note-statusbar .note-resizebar .note-icon-bar {
  border-color: #BCBCBC;
}

.note-editor .fa,
.note-popover .fa {
  font-style: normal;
  font-size: 20px;
  vertical-align: middle;
}

.note-editor .fa:before,
.note-popover .fa:before {
  font-family: 'Material Design Iconic Font';
}

.note-editor .fa.fa-magic:before,
.note-popover .fa.fa-magic:before {
  content: "\f11b";
}

.note-editor .fa.fa-bold:before,
.note-popover .fa.fa-bold:before {
  content: "\f17a";
}

.note-editor .fa.fa-italic:before,
.note-popover .fa.fa-italic:before {
  content: "\f181";
}

.note-editor .fa.fa-underline:before,
.note-popover .fa.fa-underline:before {
  content: "\f18b";
}

.note-editor .fa.fa-font:before,
.note-popover .fa.fa-font:before {
  content: "\f17e";
}

.note-editor .fa.fa-list-ul:before,
.note-popover .fa.fa-list-ul:before {
  content: "\f183";
}

.note-editor .fa.fa-list-ol:before,
.note-popover .fa.fa-list-ol:before {
  content: "\f184";
}

.note-editor .fa.fa-align-left:before,
.note-popover .fa.fa-align-left:before {
  content: "\f178";
}

.note-editor .fa.fa-align-left:before,
.note-popover .fa.fa-align-left:before {
  content: "\f178";
}

.note-editor .fa.fa-align-right:before,
.note-popover .fa.fa-align-right:before {
  content: "\f179";
}

.note-editor .fa.fa-align-center:before,
.note-popover .fa.fa-align-center:before {
  content: "\f176";
}

.note-editor .fa.fa-align-justify:before,
.note-popover .fa.fa-align-justify:before {
  content: "\f177";
}

.note-editor .fa.fa-indent:before,
.note-popover .fa.fa-indent:before {
  content: "\f180";
}

.note-editor .fa.fa-outdent:before,
.note-popover .fa.fa-outdent:before {
  content: "\f17f";
}

.note-editor .fa.fa-text-height:before,
.note-popover .fa.fa-text-height:before {
  content: "\f182";
}

.note-editor .fa.fa-table:before,
.note-popover .fa.fa-table:before {
  content: "\f21e";
}

.note-editor .fa.fa-link:before,
.note-popover .fa.fa-link:before {
  content: "\f10d";
}

.note-editor .fa.fa-picture-o:before,
.note-popover .fa.fa-picture-o:before {
  content: "\f224";
}

.note-editor .fa.fa-minus:before,
.note-popover .fa.fa-minus:before {
  content: "\f16e";
}

.note-editor .fa.fa-arrows-alt:before,
.note-popover .fa.fa-arrows-alt:before {
  content: "\f29f";
}

.note-editor .fa.fa-code:before,
.note-popover .fa.fa-code:before {
  content: "\f066";
}

.note-editor .fa.fa-question:before,
.note-popover .fa.fa-question:before {
  content: "\f033";
}

.note-editor .fa.fa-eraser:before,
.note-popover .fa.fa-eraser:before {
  content: "\f17b";
}

.note-editor .fa.fa-square:before,
.note-popover .fa.fa-square:before {
  content: "\f1f4";
}

.note-editor .fa.fa-circle-o:before,
.note-popover .fa.fa-circle-o:before {
  content: "\f2e3";
}

.note-editor .fa.fa-times:before,
.note-popover .fa.fa-times:before {
  content: "\f29a";
}

.note-editor .note-air-popover .arrow,
.note-popover .note-air-popover .arrow {
  left: 20px;
}

.note-editor .note-editable {
  padding: 20px 23px;
}

.bootstrap-datetimepicker-widget {
  margin-top: 0 !important;
}

.bootstrap-datetimepicker-widget.top {
  -webkit-transform-origin: 0 100% !important;
  -moz-transform-origin: 0 100% !important;
  -ms-transform-origin: 0 100% !important;
  transform-origin: 0 100% !important;
}

.bootstrap-datetimepicker-widget:before,
.bootstrap-datetimepicker-widget:after {
  display: none !important;
}

.bootstrap-datetimepicker-widget .picker-switch.accordion-toggle span {
  background: #fff;
  border-radius: 0;
}

.bootstrap-datetimepicker-widget .picker-switch.accordion-toggle span:hover {
  background: #fff;
}

.bootstrap-datetimepicker-widget .datepicker-days table {
  margin-bottom: 20px;
}

.bootstrap-datetimepicker-widget .timepicker .md {
  font-size: 25px;
}

.bootstrap-datetimepicker-widget .glyphicon {
  color: #333;
}

.bootstrap-datetimepicker-widget .active {
  background: #2196f3 !important;
}

.fileinput {
  position: relative;
  padding-right: 35px;
}

.fileinput .close {
  position: absolute;
  top: 5px;
  font-size: 12px;
  float: none;
  opacity: 1;
  font-weight: 500;
  border: 1px solid #ccc;
  width: 19px;
  text-align: center;
  height: 19px;
  line-height: 15px;
  border-radius: 50%;
  right: 0;
}

.fileinput .close:hover {
  background: #eee;
}

.fileinput .btn-file > input {
  z-index: 1000;
}

.fileinput .input-group-addon {
  padding: 0 10px;
  vertical-align: middle;
}

.fileinput .fileinput-preview {
  width: 200px;
  height: 150px;
  position: relative;
}

.fileinput .fileinput-preview img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -13px;
}

.fileinput .fileinput-preview:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

#lg-slider:after {
  content: "";
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid #2196f3;
  -webkit-animation: ball-scale-ripple 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  animation: ball-scale-ripple 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
  z-index: -1;
}

#lg-outer {
  background: rgba(255, 255, 255, 0.95);
}

#lg-outer .object {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

#lg-close {
  display: none;
}

#lg-action {
  top: 0;
  width: 100%;
  left: 0;
  margin-left: 0 !important;
  height: 40px;
  text-align: center;
}

#lg-action > a {
  background: transparent;
  color: #9D9D9D;
  font-size: 18px;
  width: 28px;
  height: 37px;
}

#lg-action > a:hover {
  background: transparent;
  color: #000;
}

#lg-action .cl-thumb {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 38px;
  background: #f44336;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

#lg-action .cl-thumb:after {
  text-align: center;
  left: 16px !important;
  bottom: 6px !important;
  color: #fff;
}

#lg-action .cl-thumb:hover {
  background: #f32c1e;
}

#lg-gallery .thumb-cont {
  background: #f44336;
  text-align: center;
}

#lg-gallery .thumb-cont .thumb-info {
  background: #f44336;
}

#lg-gallery .thumb-cont .thumb-info .count {
  display: none;
}

#lg-gallery .thumb-cont .thumb-info .close {
  width: 14px;
  margin-top: 0;
  background: none;
}

#lg-gallery .thumb-cont .thumb-info .close:hover {
  background: none;
}

#lg-gallery .thumb-cont .thumb {
  opacity: 1;
  filter: alpha(opacity=100);
}

#lg-gallery .thumb-cont .thumb-inner {
  display: inline-block;
  padding: 12px 12px 15px;
}

.lg-slide {
  background: none !important;
}

.lg-slide em {
  font-style: normal;
}

.lg-slide em h3 {
  margin-bottom: 5px;
}

.lg-slide .video-cont {
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

@-webkit-keyframes ball-scale-ripple {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }

  100% {
    opacity: 0.0;
  }
}

@keyframes ball-scale-ripple {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }

  100% {
    opacity: 0.0;
  }
}

.waves-button,
.waves-circle {
  -webkit-mask-image: none;
  line-height: inherit;
}

.date-picker .dp-inline {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  display: inline-block;
}

.date-picker:not(.dp-blue):not(.dp-red) .tr-dpnav th {
  background: #009688;
}

.date-picker:not(.dp-blue):not(.dp-red) .tr-dpday th {
  background: #00877a;
}

.date-picker:not(.dp-blue):not(.dp-red) .dp-active {
  background-color: #009688;
}

.date-picker:not(.dp-blue):not(.dp-red) .dp-actions .btn-link {
  color: #009688;
}

.date-picker .dropdown-menu {
  padding: 0;
  margin: 0;
}

.date-picker.is-opened .dropdown-menu {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.dp-table {
  position: relative;
  z-index: 1;
}

.dp-table thead > tr th:first-child {
  padding-left: 15px;
}

.dp-table thead > tr th:last-child {
  padding-right: 15px;
}

.dp-table tbody > tr:first-child > td {
  padding-top: 15px;
}

.dp-table tbody > tr:last-child > td {
  padding-bottom: 15px;
}

.dp-table tbody > tr td:first-child {
  padding-left: 15px;
}

.dp-table tbody > tr td:last-child {
  padding-right: 15px;
}

.btn-dp {
  background: transparent;
  border: 0;
}

.btn-dp .zmdi {
  font-size: 18px;
  line-height: 100%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 34px;
}

.btn-dp .zmdi:hover {
  background-color: rgba(0, 0, 0, 0.14);
}

.btn-dp[disabled] {
  color: #CDCDCD;
}

.btn-dp[disabled] .dp-day-muted {
  color: #CDCDCD;
}

.btn-dpbody {
  padding: 13px;
  font-size: 12px;
  border-radius: 2px;
}

.btn-dpbody:not(.dp-active):not([disabled]) {
  color: #000;
}

.btn-dpbody:not(.dp-active):not([disabled]):not(.dp-today):hover {
  background: #F0F0F0;
}

.btn-dpday {
  border-radius: 50%;
  width: 42px !important;
  height: 42px;
}

.tr-dpnav .btn-dp {
  color: #fff;
  padding: 25px 0 23px;
}

.tr-dpday th {
  padding: 8px 0 9px;
  color: #fff;
  text-transform: uppercase;
}

.dp-active {
  color: #fff;
}

.dp-today:not(.dp-active) {
  background-color: #E2E2E2;
}

.dp-day-muted {
  color: #8B8B8B;
}

.dp-title {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.dp-title:hover {
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 2px;
}

.dp-blue .tr-dpnav th {
  background: #2196f3;
}

.dp-blue .tr-dpday th {
  background: #128ff2;
}

.dp-blue .dp-active {
  background-color: #2196f3;
}

.dp-blue .dp-actions .btn-link {
  color: #2196f3;
}

.dp-red .tr-dpnav th {
  background: #f44336;
}

.dp-red .tr-dpday th {
  background: #f33527;
}

.dp-red .dp-active {
  background-color: #f44336;
}

.dp-red .dp-actions .btn-link {
  color: #f44336;
}

.dp-actions {
  padding: 10px 20px 20px;
  text-align: right;
}

.dp-actions .btn-link {
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}

.ng-table th.sortable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ng-table th.sortable:hover {
  background-color: #FDFBD3;
}

.ng-table .form-control {
  border: 1px solid #E4E4E4;
  padding: 10px 15px;
  height: 40px;
}

.ng-table .form-control:active,
.ng-table .form-control:focus {
  border-color: #D7D7D7 !important;
}

.ng-table-pager {
  padding: 12px 25px 15px;
  min-height: 101px;
}

@media screen and (min-width: 768px) {
  .ng-table-pager {
    background: #f4f4f4;
  }
}

.ng-table-counts {
  box-shadow: none !important;
  margin-top: 23px;
  border: 1px solid #E8E8E8;
}

@media screen and (max-width: 768px) {
  .ng-table-counts {
    display: none;
  }
}

.ng-table-counts .active {
  background: #F0F0F0;
}

@media screen and (max-width: 768px) {
  .ng-table-pagination {
    width: 100%;
    text-align: center;
  }
}

.ng-table-pagination > li {
  position: relative;
}

.ng-table-pagination > li:first-child:before,
.ng-table-pagination > li:last-child:before {
  font-family: 'Material-Design-Iconic-Font';
  font-size: 22px;
  position: absolute;
  left: 16px;
  top: 5px;
  z-index: 12;
}

.ng-table-pagination > li:first-child > a,
.ng-table-pagination > li:last-child > a {
  font-size: 0px;
}

.ng-table-pagination > li:first-child:before {
  content: "\f2fa";
}

.ng-table-pagination > li:last-child:before {
  content: "\f2fb";
}

.sortable .ng-table-header {
  position: relative;
}

.sortable .ng-table-header:before {
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  right: 0;
  top: -2px;
  font-size: 17px;
}

.sortable.sort-desc .ng-table-header:before {
  content: "\f1ce";
}

.sortable.sort-asc .ng-table-header:before {
  content: "\f1cd";
}

.sweet-alert {
  border-radius: 2px;
  padding: 10px 30px;
}

.sweet-alert h2 {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.sweet-alert .lead {
  font-size: 13px;
}

.sweet-alert .btn {
  padding: 6px 12px;
  font-size: 13px;
  margin: 20px 2px 0;
}

.mCSB_scrollTools {
  width: 5px;
}

.mCSB_scrollTools .mCSB_dragger_bar {
  border-radius: 0 !important;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCSB_scrollTools.mCSB_scrollTools_vertical {
  margin: 0 !important;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 10px;
}

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.4);
}

.mCS-minimal-dark.mCSB_scrollTools_onDrag .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.5) !important;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}