
.lv-title a {
    cursor: pointer !important;
}

.users-head h2 {
    display: inline-block;
}
.users-head a {
    margin: -3px 0 0 30px;
}
.loading-spinner {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}