<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Details about event</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="empShift" class="col-sm-2 control-label">Shift</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empShift">
              <span ng-if="event.data.shift == 1">Morning</span>
              <span ng-if="event.data.shift > 1">Evening</span>
            </h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empTeamType" class="col-sm-2 control-label">Team type</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empTeamType">
              <span ng-if="event.data.team.team_type_id === 1">Primary</span>
              <span ng-if="event.data.team.team_type_id > 1">Secondary</span>
            </h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empJobs" class="col-sm-2 control-label">Jobs</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empJobs">
              <span ng-repeat="job in event.data.team.jobs">{{job.name}}, </span>
            </h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empUser" class="col-sm-2 control-label">Employees</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empUser">
              <span ng-repeat="newUser in event.data.users">{{newUser.first_name}}<span ng-if="$index < event.data.team.jobs.length-1">, </span></span>
            </h4>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="close()">Close</button>
  </div>
</div>
