<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Edit office</h4>
  </div>
  <div class="modal-body">
    <button class="btn btn-primary btn-md waves-effect" ng-click="seeCalendar(office.id)">See schedule</button>
    <br>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="empName" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empName">{{office.address}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="nameOff" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="nameOff">{{office.name}}</h4>
          </div>
        </div>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Mobile phone</th>
          <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key,user) in users">
          <td>{{key+1}}</td>
          <td><a ng-click="redirect('/employees', user.id)" href="">{{user.first_name}}</a></td>
          <td>{{user.last_name}}</td>
          <td>{{user.mobile_phone}}</td>
          <td>{{user.location}}</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div>
    </div>
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-link">Save changes</button>-->
    <button type="button" class="btn btn-link" ng-click="close()">Close</button>
  </div>
</div>
