<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Details for user</h4>
  </div>
  <div class="modal-body">
    <button class="btn btn-primary btn-md waves-effect" ng-click="seeCalendar(selectedUsers.id)" style="margin: 30px">See schedule</button>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="empName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empName">{{selectedUsers.first_name}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empemail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empemail">{{selectedUsers.email}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empAddr" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empAddr">{{selectedUsers.address}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empLoc" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empLoc">{{selectedUsers.location}}</h4>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="mobile_num" class="col-sm-2 control-label">Mobile Phone</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="mobile_num">{{selectedUsers.mobile_phone}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="home_num" class="col-sm-2 control-label">Home Phone</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="home_num">{{selectedUsers.home_phone}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empNote" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empNote">{{selectedUsers.note}}</h4>
          </div>
        </div>
      </div>
    </form>

    <button class="btn btn-success" ng-init="toggleStatus = false" ng-click="toggleStatus = !toggleStatus" style="margin: 30px">Add status</button>
    <form class="form-horizontal" role="form" ng-if="toggleStatus">
      <div class="form-group">
        <label for="statusDate" class="col-sm-2 control-label">Date</label>
        <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
          <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
          <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
            <input ng-click="open($event, 'opened')" ng-required="true" type="text" id="statusDate" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="statusForm.date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="statusNumDays" class="col-sm-2 control-label">Broj dana</label>
        <div class="input-group">
          <span class="input-group-addon"></span>
          <div class="fg-line">
            <input ng-required="true" ng-model="statusForm.numberOfDays" type="number" id="statusNumDays" class="form-control" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="statusType" class="col-sm-2 control-label">User status</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <div class="select">
              <select class="form-control" ng-required="true" id="statusType" ng-model="statusForm.status_id">
                <option value="1">Available</option>
                <option value="2">Day Off</option>
                <option value="3">Vacation</option>
                <option value="4">Sick Leave</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-if="toggleStatus" ng-click="saveUserStatus(statusForm)">Save changes</button>
    <button type="button" class="btn btn-link" ng-click="close()">Close</button>
  </div>
</div>
