<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Details about event</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="empNameLast" class="col-sm-2 control-label">Employee</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empNameLast">{{event.data.user.first_name}} {{event.data.user.last_name}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empDate" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empDate">{{event.data.active_on}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empShift" class="col-sm-2 control-label">Shift</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empShift">
              <span ng-if="event.data.shift_id === 1">Morning</span>
              <span ng-if="event.data.shift_id > 1">Evening</span>
            </h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empName" class="col-sm-2 control-label">Job title</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empName">{{event.data.job.name}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="empTeamType" class="col-sm-2 control-label">Team type</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <h4 id="empTeamType">
              <span ng-if="event.data.team.team_type_id === 1">Primary</span>
              <span ng-if="event.data.team.team_type_id > 1">Secondary</span>
            </h4>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="close()">Close</button>
  </div>
</div>
