<div ng-controller="NavbarCtrl as nb">
  <ul class="header-inner clearfix"  style="background-color: #00bcd4">

    <li class="logo hidden-xs">
      <a data-ui-sref="home" ng-click="nb.sidebarStat($event)" style="margin: 6px 0 0 30px;">ER scheduler</a>
    </li>
    <li class="pull-right" ng-if="nb.isLoggedIn">
      <ul class="top-menu">
        <li class="dropdown">
          <a href=""><span class="tm-label">Hi, {{nb.user.first_name}}</span></a>
        </li>
      </ul>
    </li>
    <li class="pull-right" ng-if="nb.isLoggedIn">
      <ul class="top-menu">
        <li class="dropdown">
          <a ng-click="nb.signOut()" href=""><span  class="tm-label">Sign out</span></a>
        </li>
      </ul>
    </li>
    <li class="pull-right" ng-if="nb.isAdmin">
      <ul class="top-menu">
        <li class="dropdown">
          <a ng-href="/#/analytics"><span class="tm-label">Analytics</span></a>
        </li>
        <li class="dropdown">
          <a ng-href="/#/generate"><span class="tm-label">Generate</span></a>
        </li>
        <li class="dropdown">
          <a ng-href="/#/offices"><span class="tm-label">Offices</span></a>
        </li>
        <li class="dropdown">
          <a ng-href="/#/employees"><span class="tm-label">employees</span></a>
        </li>
      </ul>
    </li>
    <li class="pull-right" ng-if="!nb.isLoggedIn">
      <ul class="top-menu">
        <li class="dropdown">
          <a ng-href="/#/login"><span class="tm-label">Sign in</span></a>
        </li>
      </ul>
    </li>
  </ul>
</div>

