<div class="login-content">
  <div class="lc-block ng-scope toggled" id="l-login" style="height: 500px;">
    <p>Generate analytic report</p>
    <div>
      <form  role="form">
        <div class="form-group">
          <label for="startDate" class="col-sm-2 control-label">Start Date</label>
          <div class="date-picker input-group" ng-class="{ 'is-opened': opened1 == true }">
            <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
            <div class="fg-line" ng-class="{ 'fg-toggled': opened1 == true }">
              <input ng-click="open($event, 'opened1')" ng-required="true" type="text" id="startDate" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="startDate" is-open="opened1" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="endDate" class="col-sm-2 control-label">End Date</label>
          <div class="date-picker input-group" ng-class="{ 'is-opened': opened2 == true }">
            <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
            <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
              <input ng-click="open($event, 'opened2')" ng-required="true" type="text" id="endDate" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="endDate" is-open="opened2" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
            </div>
          </div>
        </div>

        <a type="submit" ng-click="submitAnalytics(analyticsForm)" class="btn btn-login btn-danger btn-float waves-effect waves-circle"><i class="zmdi zmdi-arrow-forward"></i></a>
      </form>
    </div>
  </div>
</div>