<div ng-if="resultsLength && !isLoading">
  <div class="ng-isolate-scope fc fc-ltr ui-widget"
       action-links="actionMenu"
       calendar=""
       select="onSelect(start, end)"
       events="schedule"
       id="calendar">
  </div>
</div>
<div ng-if="!isLoading && !resultsLength">
  <div class="jumbotron container">
    <p class="lead">
      There is no generated schedule for this user. System will notify you once your schedule changes.
    </p>
  </div>
</div>
<div class="preloader pl-xxl loading-spinner" ng-if="isLoading">
  <svg class="pl-circular" viewBox="25 25 50 50">
    <circle class="plc-path" cx="50" cy="50" r="20"></circle>
  </svg>
</div>