<div class="container">
  <div class="card" style="margin-top: 40px">

    <form class="form-horizontal" role="form">
      <div class="card-header">
        <h2>Add new employee <small>You will set password for new user and they will be able to change it after.</small></h2>
      </div>
      <div class="card-body card-padding">

        <div class="form-group">
          <label for="empName" class="col-sm-2 control-label">First name</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input type="text" ng-required="true" name="name" ng-model="userForm.first_name" class="form-control input-sm" id="empName" placeholder="First Name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="empLast" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input type="text" ng-required="true" name="last_name" ng-model="userForm.last_name" class="form-control input-sm" id="empLast" placeholder="Last Name">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="empEmail" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input ng-model="userForm.email" ng-required="true" id="empEmail" type="email" name="email" class="form-control" required="true" placeholder="Email Address">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="empOib" class="col-sm-2 control-label">OIB</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input type="number" ng-required="true" name="oib" ng-model="userForm.oib" class="form-control input-sm" id="empOib" placeholder="OIB">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="oibBirth" class="col-sm-2 control-label">Birthday</label>
          <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
            <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
            <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
              <input ng-click="open($event, 'opened')" ng-required="true" type="text" id="oibBirth" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="userForm.birthdate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="oibGener" class="col-sm-2 control-label">Gender</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <div class="select">
                <select class="form-control" ng-required="true" id="oibGener" ng-model="userForm.sex_id">
                  <option value="2">F</option>
                  <option value="1">M</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="empAddr" class="col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input type="text" ng-required="true" name="address" ng-model="userForm.address" class="form-control input-sm" id="empAddr" placeholder="Address">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="empLoc" class="col-sm-2 control-label">City</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input type="text" ng-required="true" name="location" ng-model="userForm.location" class="form-control input-sm" id="empLoc" placeholder="City">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="empOffice" class="col-sm-2 control-label">Office</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <div class="select">
                <select class="form-control" ng-required="true" id="empOffice" ng-model="userForm.office_id">
                  <option ng-repeat="office in offices" value="{{office.id}}">{{office.address}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="empHomePhone" class="col-sm-2 control-label">Home phone</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input type="number" ng-required="true" name="home_phone" ng-model="userForm.home_phone" class="form-control input-sm" id="empHomePhone" placeholder="Home phone number">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="empMobile" class="col-sm-2 control-label">Mobile phone</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input type="number" ng-required="true" name="mobile_phone" ng-model="userForm.mobile_phone" class="form-control input-sm" id="empMobile" placeholder="Mobile phone number">
            </div>
          </div>
        </div>

        <div class="form-group">
        <label for="empRole" class="col-sm-2 control-label">Role</label>
        <div class="col-sm-10">
          <div class="fg-line">
            <div class="select">
              <select class="form-control" ng-required="true" id="empRole" ng-model="userForm.role_id">
                <option value="1">Administrator</option>
                <option value="2">Employee</option>
              </select>
            </div>
          </div>
        </div>
      </div>

        <div class="form-group">
          <label for="empJob" class="col-sm-2 control-label">Job</label>
          <div class="col-sm-2">
            <div class="fg-line">
              <div class="checkbox" id="empJob">
                <label>
                  <input type="checkbox" value="1" ng-click="addJob(1)">
                  <i class="input-helper"></i>

                  Dispatcher
                </label>
                <label>
                  <input type="checkbox" value="2" ng-click="addJob(2)">
                  <i class="input-helper"></i>
                  Doctor
                </label>
                <label>
                  <input type="checkbox" value="3" ng-click="addJob(3)">
                  <i class="input-helper"></i>
                  Technician
                </label>
                <label>
                  <input type="checkbox" value="4" ng-click="addJob(4)">
                  <i class="input-helper"></i>
                  Driver
                </label>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="empNote" class="col-sm-2 control-label">Notes</label>
          <div class="col-sm-10">
              <div class="fg-line">
                <textarea class="form-control" ng-model="userForm.note" rows="5" data-auto-size placeholder="Notes" id="empNote"></textarea>
              </div>
          </div>
        </div>

        <div class="form-group">
          <label for="empPass" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input type="password" id="empPass" name="password" ng-model="userForm.password" ng-required="true" class="form-control" placeholder="Choose initial password">
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-sm" ng-click="createUser(userForm)">Create</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>