<div class="login-content">
  <div class="lc-block ng-scope toggled" id="l-login">
    <p>Generate calendar</p>
    <div>
      <form ng-submit="submitGenerate(generateForm)" role="form">
        <div class="input-group m-b-20">
          <span class="input-group-addon"></span>
          <div class="fg-line">
            <input ng-model="generateForm.month" type="number" name="email" class="form-control" required="true" placeholder="Month">
          </div>
        </div>
        <div class="input-group m-b-20">
          <span class="input-group-addon"></span>
          <div class="fg-line">
            <input type="number" name="password" ng-model="generateForm.year" required="true" class="form-control" placeholder="Year">
          </div>
        </div>
        <button type="submit" class="btn btn-login btn-danger btn-float waves-effect waves-circle"><i class="zmdi zmdi-arrow-forward"></i></button>
      </form>
    </div>
  </div>
</div>