<div class="login-content">
  <div class="lc-block ng-scope toggled" id="l-login">
    <div>
      <form ng-init="loginForm = {}" ng-submit="submitLogin(loginForm)" role="form">
        <div class="input-group m-b-20">
          <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
          <div class="fg-line">
            <input ng-model="loginForm.email" type="email" name="email" class="form-control" required="true" placeholder="Email Address">
          </div>
        </div>
        <div class="input-group m-b-20">
          <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
          <div class="fg-line">
            <input type="password" name="password" ng-model="loginForm.password" required="true" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            <i class="input-helper"></i>
            Keep me signed in
          </label>
        </div>
        <button type="submit" class="btn btn-login btn-danger btn-float waves-effect waves-circle"><i class="zmdi zmdi-arrow-forward"></i></button>
      </form>
    </div>
  </div>
</div>