<div class="jumbotron container">
  <p class="lead">
    Welcome to ER Scheduler system.
  </p>
  <p><a ng-href="/#/login">Sign in</a> to start (if you don't have account contact support at <a href="mailto:matej.serbec@gmail.com">Support</a>)</p>
  <small>To test our system you can use admin account - email: matej@vibby.com, password: Password1234</small>
</div>
