<div class="container">
  <div class="card" style="margin-top: 40px">

    <form class="form-horizontal" role="form" ng-submit="createOffice(officeForm)">
      <div class="card-header">
        <h2>Add new office</h2>
      </div>
      <div class="card-body card-padding">

        <div class="form-group">
          <label for="empName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input type="text" ng-required="true" name="name" ng-model="officeForm.name" class="form-control input-sm" id="empName" placeholder="Office Name...">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="empLast" class="col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <input type="text" ng-required="true" name="address" ng-model="officeForm.address" class="form-control input-sm" id="empLast" placeholder="Office Address...">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="maxOff" class="col-sm-2 control-label">Max team</label>
          <div class="col-sm-10">
            <div class="fg-line">
              <div class="select">
                <select class="form-control" ng-required="true" id="maxOff" ng-model="officeForm.max_teams">
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-sm">Create</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>