<div class="block-header users-head" style="margin-top: 30px">
  <h2>User list</h2>
  <a class="btn btn-primary" ng-href="/#/new-user">Add new employee</a>
</div>
<div class="card">
  <div class="listview lv-bordered lv-lg">
    <div class="clearfix"></div>
    <div class="lv-body" >
      <div class="lv-item media" ng-repeat="user in users">
        <div class="media-body">
          <div class="lv-title"><a ng-click="openEditUserModal(user)">{{user.first_name}} {{user.last_name}}</a></div>

          </div>
          <div class="lv-actions actions dropdown" uib-dropdown>
            <a href="" uib-dropdown-toggle aria-expanded="true">
              <i class="zmdi zmdi-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <!--<li>-->
                <!--<a ng-click="goToLocation('/#/search', {userId: user.id})">See schedule</a>-->
              <!--</li>-->
              <li>
                <a ng-click="openEditOfficeModal(office)">Edit</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="preloader pl-xxl loading-spinner" ng-if="users.length === 0">
  <svg class="pl-circular" viewBox="25 25 50 50">
    <circle class="plc-path" cx="50" cy="50" r="20"></circle>
  </svg>
</div>